.categories{
    margin-top: 50px;
}
.categoryList{
    width: 180px;
    display: inline-block;
}

.bttnCategories{
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: rgba(68, 142, 177, 0.877);
    border: none;
    outline: none;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.bttnCategories:hover{
    background-color: rgba(34, 34, 145, 0.514)
}
