<div class="col-md-10 col-md-offset-2 categories">
  <div *ngFor="let category of categories" class="categoryList">
    <button (click)="getJokesFromCategory(category)" class="bttnCategories">{{category}}</button>
  </div>
</div>
  
<div class="listOfJokes col-md-10 col-md-offset-1 text-center ">
  <div *ngFor="let joke of jokeOfCategory" class="joke slideDown">
      {{joke.value}}
  </div>
</div>

