<div class="text-center">
  <input type="text" placeholder="Seach jokes" id="searchBar" #searchValue 
    (keyup.enter)="getJokeFromSearch(searchValue.value)" (keyup.delete)="changeColor()" (keyup.backspace)="changeColor()">
</div>

<div class="list col-md-8 col-md-offset-2 text-center">
  <div *ngFor="let joke of searchResult; let i = index">
    <div *ngIf="i<10" (click)="deleteJoke(joke)" class="joke">
        {{joke.value}}
    </div>
  </div>
</div>
