::-webkit-input-placeholder {
    color:rgb(185, 183, 183);
}
::-moz-input-placeholder {
    color:rgb(185, 183, 183);
}
.list{
    margin-bottom: 50px;
}

#searchBar{
    color:black;
    margin-top: 50px;
    border: none;
    outline: none;
    border-radius: 2px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 20px;
    background-image: url('../../../assets/searchiconGrey.png');
    background-size: 30px 30px; 
    background-repeat: no-repeat;
    background-position: 5px;

}