.bttn{
    color: rgb(158, 156, 156);
    height: 70px;
    width: 100px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 40px; 
    padding-bottom: 20px;
    border-radius: 0px 0px 2px 2px; 
    background-color: transparent;
    border: none;
    outline: none;
    transition: all .4s ease-out;
    font-size: 18px;

}

.bttn:hover{
    background-color: rgba(68, 142, 177, 0.877);
    color: white;
    transform: translate(0px, 10px);
    box-shadow: 0px 2px 0px 0px rgba(68, 68, 68, 0.226);
}

.headline{
    color: rgb(187, 184, 184)
}
.container{
    height: 100%;
}