.loadJokes{
    margin-top: 50px;
}
.listOfJokes{
    height: 300px;
    overflow-y: auto;
}

.bttnLoad{
    display: block;
    text-align: center;
    margin:0 auto;

    color: white;
    font-size: 18px;
    background-color: rgba(68, 142, 177, 0.877);
    border: none;
    outline: none;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    transition: 500ms ;
}

.bttnLoad:hover{
    /* transform: translateY(60px); */
    width:65%;
}
.bttnLoad:active{
    transform: translateY(10px);
}

.slideDown{

	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-150%);
		background-color: rgba(68, 142, 177, 0.877);
		color: white;
        border-radius: 2px;
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
        background-color: transparent;
	}	
}

.joke{
    margin-top: 20px;
    font-size: 16px;

}
.joke:hover{
    background-color: rgba(68, 142, 177, 0.877);
    color:white;
	border-radius: 2px;
	cursor: pointer;

}