
<div class="loadJokes col-sm-12">
    <button (click)="getJoke()" class="bttnLoad">Load more</button>

    <div class="list col-md-8 col-md-offset-2 text-center">
        <div *ngFor="let joke of jokes" class="joke slideDown">
            {{joke.value}}
        </div>
    </div>
</div>