/* You can add global styles to this file, and also import other style files */
html, body{
    background-image: url('stardust.png');
    
}
app-root{
    
    color: rgb(158, 156, 156);
    font-family: 'Dosis', sans-serif;
}
